[submodule "themes/casper3"]
	path = themes/casper3
	url = https://github.com/jonathanjanssens/hugo-casper3.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/edvinbasil/hugo-theme-hello-friend.git
